# Credentials & configs with secrets
.env
config/debezium/application.properties
config/rabbitmq/definitions.json
docker-compose.yml
docker-compose-agent.yml
profiles.yml
.user.yml

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# dbt
dbt_packages/
target/

# Logs
logs/
logs_init.txt
logs_init2.txt

# data
data/
seeds/
snapshots/
sources/
playground/

# Data dumps
*.sql


# others
Project Documentation.pdf
docs/METABASE_GUIDE.md
docs/DATABASE.md
docs/CLEANING.md
rabbitmq_viewer.py
dags/hello_world.py